<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.etc.dao.CollegeDao">
    <select id="findAll" resultType="College">
        select * from  college
    </select>
    <select id="findbycollid" resultType="College">
        SELECT * FROM college,major WHERE college.`collid`=major.`collid` AND college.collid=#{collid}
    </select>
    <insert id="addcollege" keyProperty="collid" useGeneratedKeys="true">
        insert  into  college(collname) value (#{collname})
    </insert>
    <update id="update">
        update college set collname=#{collname} where collid=#{collid}
    </update>
    <delete id="delete">
        delete from college where collid=#{collid}
    </delete>
</mapper>